<div id="flash_messages">
  <% flash.each do |type, message| %>
    <div name="flash_messages" class="alert <%= bootstrap_class_for(type) %> fade in">
      <%= message %>
    </div>
  <% end %>
</div>
