<div id="event"><%= render partial: 'attendees/event', locals: { event: @event } %></div>
<div id="rego"><%= render partial: 'attendees/rego', locals: { event: @event, public_key: @public_key } %></div>