<% button = { text: 'Registration List', path: whosecoming_path(id: @event.id)} %>
<div id="event"><%= render partial: 'events/event', locals: { event: @event, button: button } %></div>
<% if @event.rego_allowed? %>
    <div id="rego"><%= render partial: 'events/rego', locals: { event: @event, public_key: @public_key } %></div>
<% end %>