<% button = { text: 'Event Registration', path: event_register_path(id: @event.id)} %>
<div id="event"><%= render partial: 'events/event', locals: { event: @event, button: button } %></div>
<div id="hashers">
  <table id="hasher_table" class="table table-striped">
    <caption class="visible-caption" ><strong>Registered Hashers:</strong></caption>
    <thead id="hasher_table_head">
    <tr>
      <th>Name</th>
      <th>Kennel</th>
    </tr>
    </thead>
    <tbody id="hasher_list">
    <% @hashers.each do |hasher| %>
        <tr>
          <td class="name"><%= hasher.name %></td>
          <td class="kennel"><%= hasher.kennel %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


