body {
    padding-top: 90px;
    background-color: #ffffff;
}

.panel-default > .panel-heading {
    backgroun-image: none;
    background-color: #0958A7;
}

.panel-default > .panel-footer {
    background-color: #0958A7;
}

.panel-body {
    background-color: #ccddcc;
}

.row {
    padding-top: 2px;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe,
.embed-container object,
.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

