body {
    padding-top: 90px;
    background-color: #ffffff;
}

.panel-default > .panel-heading {
    backgroun-image: none;
    background-color: #0958A7;
}

.panel-default > .panel-footer {
    background-color: #0958A7;
}

.panel-body {
    background-color: #ccddcc;
}

.row {
    padding-top: 2px;
}

