<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/hashpay.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<div class="container">
  <div class="center-block">
    <a href="http://http://www.pgh-h3.com/wp/"><img src="/images/hhhlogo.png" class="img-responsive" alt="P3H3 Inaugural run Rego"></a>
  </div>
  <div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading"></div>
      <%= yield %>
    <div class="panel-footer"></div>
  </div>
</div>
</body>
</html>